<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--label in chinese names in calculation page-->
    <add key="lblMarketPrice_zh" value="市场价 :" />
    <add key="lblTradingTaxRate_zh" value="交易印花税(%) :" />
    <add key="lblProfitPerShare_zh" value="每股盈利 :" />
    <add key="lblProfitSharingRate_zh" value="每股分红派系比例(%) :" />
    <add key="lblCompanyDuration_zh" value="企业存续期 :" />
    <add key="lblDiscountRate_zh" value="折现率(%) :" />
    <add key="lblNormalGrowthRate_zh" value="自然增长率(%) :" />
    <add key="lblHighSpeedGrowthRate_zh" value="高速增长率(%) :" />
    <add key="lblHighSpeedGrowthDuration_zh" value="高速增长期 :" />
    <add key="lblProfitSharingTaxRate_zh" value="红股税率(%) :" />
    <add key="lblDepressionFrequency_zh" value="衰退周期 :" />
    <add key="lblDepressionLossRate_zh" value="衰退期损失率(%) :" />
    <add key="lblStockHeldDuration_zh" value="持股周期 :" />
    <!--label in chinese names in stock market page-->
    <add key="lblStockID_zh" value="股票代码 :" />
    <add key="lblCompanyName_zh" value="公司名 :" />
    <add key="lblCompanyProfitPerShare_zh" value="公司每股盈利 :" />
    <add key="lblLastTradingPrice_zh" value="前日收盘价 :" />
    <add key="lblDateOfInfo_zh" value="股价信息日期 :" />
    <add key="lblPERatio_zh" value="动态市盈率 :" />
    <add key="lblFirstYearProfitSharing_zh" value="最近第一年每10股分红 :"/>
    <add key="lblSecondYearProfitSharing_zh" value="最近第二年每10股分红 :"/>
    <add key="lblThirdYearProfitSharing_zh" value="最近第三年每10股分红 :"/>
    <add key="lblFourthYearProfitSharing_zh" value="最近第四年每10股分红 :"/>
    <add key="lblFifthYearProfitSharing_zh" value="最近第五年每10股分红 :"/>
    <!--label in chinese names for the buttons-->
    <add key="btnParseCompanyDetails_zh" value="从本地读取公司资料" />
    <add key="btnParseCompanyDetailsFromServer_zh" value="从服务器导入公司资料" />
    <add key="btnRefreshStockList_zh" value="刷新股票信息" />
    <add key="btnClearPreferStockList_zh" value="清空偏好股票列表"/>
    <add key="btnCalculate_zh" value="计算内在价值" />
    <!--label in chinese names for tabs-->
    <add key="tabCalculationPage_zh" value="价值计算页" />
    <add key="tabStockMarketPage_zh" value="股票信息页" />
    <!--label in chinese names for the group view-->
    <add key="groupStockInfo_zh" value="股票简要信息" />
    <add key="groupBoxCheckingParameters_zh" value="参数设定"/>
    <add key="groupBoxForServerParseParams_zh" value="服务器可得参数" />
    <add key="groupBoxForManualInputParams_zh" value="手动输入参数" />
    <!--label in chinese names for checkbox-->
    <add key="checkBoxKeepPreferStockID_zh" value="保存偏好股票列表"/>
    <!--init values for the calculation page-->
    <add key="initValueMarketPrice" value="10.0" />
    <add key="initValueTradingTaxRate" value="1.0" />
    <add key="initValueProfitPerShare" value="1.0" />
    <add key="initValueProfitSharingRate" value="20.0" />
    <add key="initValueCompanyDuration" value="50" />
    <add key="initValueDiscountRate" value="5.0" />
    <add key="initValueNormalGrowthRate" value="0.5" />
    <add key="initValueHighSpeedGrowthRate" value="5.0" />
    <add key="initValueHighSpeedGrowthDuration" value="3" />
    <add key="initValueProfitSharingTaxRate" value="0.5" />
    <add key="initValueDepressionFrequency" value="5" />
    <add key="initValueDepressionLossRate" value="99.9" />
    <add key="initValueStockHeldDuration" value="5" />
    <!--init values for the stock info page-->
    <add key="initValueKeepPreferStockList" value="true"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>